<!DOCTYPE html>
<html>
  <head>
    <title>Arcade</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
  </head>
  <body>
    <h1>Arcade</h1>
    <table class="table table-striped">
      <tr>
        <th>Games</th>
        <th>Date</th>
      </tr>
      <% game.forEach(function(item){ %>
      <tr>
        <td> <a href="/game/<%= item._id %>"> <%= item.name %> </a> </td>
        <td> <%= item.date %> </td>
      </tr>
      <%})%>
    </table>
    <a href="/newgame" class="btn btn-success">New Game</a>
    <a href="/logout" class="btn btn-warning">Logout</a>
  </body>
</html>
