<!DOCTYPE html>
<html>
  <head>
    <title>Arcade</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
  </head>
  <body>
    <h1><%= game %> Highscores</h1>
    <table class="table table-striped">
      <tr>
        <th>Score</th>
        <th>Tagname</th>
        <th>Date</th>
      </tr>
      
      <% scores.forEach(function(item){ %>
        <tr>
          <td><%= item.score %></td>
          <td><%= item.tagname %></td>
          <td><%= item.date %></td>
        </tr>
      <%})%>
    </table>

    <form method="post">
      Score: <input type="number" name="score" min="0">
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
