<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <h1>Register</h1>
    <form action="/register" method="post">
      Tagname: <input type="text" name="tagname" maxlength="4"> <br>
      Username: <input type="text" name="username"> <br>
      Password: <input type="password" name="password"> <br>
      <button type="submit" class="btn btn-success">Sign Up</button>
    </form>

    <br><br>
    <h1>Log In</h1>
    <form action="/login" method="post">
      Username: <input type="text" name="username"> <br>
      Password: <input type="password" name="password"> <br>
      <button type="submit" class="btn btn-success">Login</button>
    </form>
    <h4><%= error %></h4>
  </body>
</html>
