<!DOCTYPE html>
<html>
  <head>
    <title>New Game</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
  </head>
  <body>
    <h1>New Game</h1>
    <form method="post">
      Name:<input type="text" name="name">
      <button type="submit" class="btn btn-success">Done</button>
    </form>
  </body>
</html>
